# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
.vscode/
.atom/
*.iml
*.ipr
*.iws

# ===== Flutter / Dart =====
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
**/pubspec.lock
migrate_working_dir/

# ===== Android =====
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/google-services.json

# ===== iOS =====
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/flutter_export_environment.sh

# ===== Node / Express =====
**/node_modules/
**/.env
**/npm-debug.log*

# ===== Miscellaneous =====
*.class
*.log
*.pyc
*.swp
*.iml
.history
.svn/
.swiftpm/
.build/
.buildlog/
app.*.symbols
app.*.map.json